:root {
 
    --clr-white: hsl(0, 0%, 100%);
    --clr-lgray: hsl(212, 45%, 89%);
    --clr-gblue: hsl(220, 15%, 55%);
    --clr-dblue: hsl(218, 44%, 22%);
    --clr-lblue: hsl(212, 45%, 89%);

    --ff-outfit: 'Outfit', sans-serif;

    --fw-light: 400;
    --fw-bold: 700;

    --fs-header: 1.375rem;
    --fs-text: 0.9rem;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-outfit);
    background-color: var(--clr-lblue);
}

img {
    max-width: 100%;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.container__content {
    position: relative;
    background-color: var(--clr-white);
    width: 320px;
    border-radius: 1.2em;
    padding: .95em;
    text-align: center;
}

.container__content img {
    max-height: auto;
    padding: .06em;
    border-radius: .625em;
}

.container__content h3 {
    font-size: var(--fs-header);
    font-weight: var(--fw-bold);
    color: var(--clr-dblue);
}

.container__content p {
    font-size: var(--fs-text);
    font-weight: var(--fw-light);
    color: var(--clr-gblue);
    padding-inline: .875em;
    padding-bottom: .3em;
}

@media screen and (max-width: 500px) {
    :root {
        --fs-header: 1.5rem;
        --fs-text: 1.2rem;
    }
}

.attribution { font-size: 11px; text-align: center; bottom: 0%;}
.attribution a { color: hsl(228, 45%, 44%); }